 @{ 
   if (Session["userID"] == null)
   {
       Response.Redirect("~/users/login");
   }
} 

@{
     ViewBag.Title = "Volunteer";
}

<h1>Volunteer Control Pannel</h1>
<h2>Welcome @Session["userName"].ToString()</h2>
<body>
    <div id="largebox">
        <div id="mapbox">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <h3>Find Jobs</h3>
            <input class="form-control" id="myInput" type="text" placeholder="Search city...">
        </div>
    </div>



    @model IEnumerable<SE_Project.Models.job>

    <div id="listbox">


        <div>
            
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.Description)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Date)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.Address)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.City)
                            </th>
                        </tr>
                     </thead>
                    <tbody id="myTable">
                        @foreach (var item in Model)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.ActionLink("Add Job", "Edit", new { id = item.JobID })
                                </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
            
       
    </div>




    <div id="jobsbox">

        <p>
            <table border="1" style="width:100%;">
                <caption class="auto-style5">
                    List of jobs that have been signed up for
                </caption>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                </tr>
                <tr>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                    <td class="auto-style2">&nbsp;</td>
                </tr>
            </table>
        </p>

    </div>
    <a href="@Url.Action("LogOut","users")">Logout</a>
</body>