 @{ 
   if (Session["userID"] == null)
   {
       Response.Redirect("~/users/login");
   }
} 

@{
     ViewBag.Title = "Volunteer";
}

<h1>Volunteer Control Pannel</h1>
<h2>Welcome @Session["userName"].ToString()</h2>
<body>
    <div id="largebox">
        <div id="mapbox">

            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
            <h3>Find Jobs</h3>
            <input class="form-control" id="myInput" type="text" placeholder="Search city...">
        </div>
    </div>



    @{ 
        var x = ViewBag.table1 as IEnumerable<SE_Project.Models.job>;
        var y = ViewBag.table2 as IEnumerable<SE_Project.Models.userJob>;
    }

    <div id="listbox">


        <div>
            
                <table class="table">
                    <thead>
                        <tr>
                            <th>
                                Description
                            </th>
                            <th>
                               Date
                            </th>
                            <th>
                               Address
                            </th>
                            <th>
                               City
                            </th>
                        </tr>
                     </thead>
                    <tbody id="myTable">
                        @foreach (var item in x)
            {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Description)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Date)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Address)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.City)
                                </td>
                                <td>
                                    @Html.ActionLink("Add Job", "Edit", new { JID = item.JobID}, new { UID = (int)Session["userID"] })

                                </td>
                            </tr>
                        }
                        </tbody>
                </table>
            </div>
            
       
    </div>




    <div id="jobsbox">

    <div>

        <table class="table">
            <tr>
                <th>
                   Address
                </th>
                <th>
                   Date
                </th>
                <th>
                   Time
                </th>
                <th>
                    Description
                </th>
            </tr>

            @foreach (var item in y)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.job.Address)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job.Date)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job.Time)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.job.Description)
                    </td>
                </tr>
            }
        </table>
    </div>

    <a href="@Url.Action("LogOut","users")">Logout</a>
</div>



