@{
    if (Session["userID"] == null)
    {
        Response.Redirect("~/users/login");
    }
}

@model IEnumerable<SE_Project.Models.job>

@{
    ViewBag.Title = "Organizer";
}

<h1>Organizer Control page</h1>
<h2>Welcome @Session["userName"].ToString()</h2>
<body>
    <div id="largebox">
        <div id="postedbox">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Address)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Date)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Time)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                </tr>
                <tr>

                </tr>
            </table>
        </div>
        <a href="@Url.Action("create","jobs")">Post New Job</a>
    </div>
    <a href="@Url.Action("LogOut","users")">Logout</a>
</body>