@{
    ViewData["Title"] = "Gallery";
}
<h2>@ViewData["Title"].</h2>

@model SE_Project.Models.job

<body>


    <div id="largebox">
        <div id="descriptionbox">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.Description)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.Description)
                </dd>
            </dl>
        </div>
        </div>
        <div id="beforebox">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.before)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.before)
                </dd>
            </dl>
            </div>
        <div id="afterbox">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.after)
                </dt>
                <dd>
                    @Html.DisplayFor(model => model.after)
                </dd>
            </dl>
      </div>



</body>